body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:30px;
}
.ul{
    list-style-type: none;
    margin:0;
    padding:7px;
    background-color:rgb(43, 211, 99);
}
.li{
    color:azure;
    display:inline;
    padding:6px;
    top:10px;
    float: right;
}
.a:link{
    text-decoration: none;
    color:rgb(81, 43, 117);
}
.a:hover{
    color:aliceblue;
}
.logo{
    color:rgb(113, 61, 23);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    width:300px;
    height:30px;
    position:relative;
    left:37px;
}
.box1{
    width:300px;
    height:25px;
    position: relative;
    left:200px;
}
img{
    display: inline;
    height:70px;
    border-radius: 50%;
}
fieldset{
    border-radius: 5px;
}

.foot{
    background-color: silver;
    padding:5px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:rgb(19, 97, 19);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
}
h3{
    color:rgb(19, 97, 19);
    font-family: Arial, Helvetica, sans-serif;
}
.li1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
}
button{
    height:35px;
    font-size: 22px;
    border-radius:10px
}
button:hover{
    background-color: rgb(81, 90, 221);
}